<head>
    <title>Mon programme</title>
</head>
<style>
    body {
        background-color: #3E3E3E;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    
    body * {
      margin-bottom: 50px;
    }
    #piano {
      display: flex;
      width: 98vw;
      justify-content: center;
    }

    .piano-touch {
      background: white;
      border-left: 1px solid black;
      height: 15vh;
      width: 5vw;
    }
    .piano-touch:first {
      background: white;
      border-left:none;
    }

    button {
      width: 20vw;
      height: 10vh;
    }
    
</style>
<body>
    <div id="piano">
      
    </div>

    <button id="play">Play</button>
    <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
    <script src="./js/libs/MidiConvert.js"></script>
    <script src="./js/libs/Tone.js"></script>
    <script src="./js/app.js"></script>
</body>

</html>
